<div class="bar">
  <div class="bar-menu hide-large">
    <a class="bar-item" onclick="toggleSidebar()">&#x22EE;</a>
  </div>
  <div class="bar-menu hide-small">
    <a class="bar-item app-notes" href="7011a000a7ac34feb1ed4415be49">Notes</a>
    <a class="bar-item app-users" href="7011a000da41216b169743cebf08">Users</a>
    <a class="bar-item" href="/ui/Apps/elefante">Caspio</a>
    <a class="bar-item" href="/folderlogout">Logout</a>
  </div>
  <div class="bar-logo">
    <img height="44" src="https://jsedano.duckdns.org/assets/resources/elefante.png" alt="Elefante" title="Elefante" />
  </div>
</div>

<div class="bar hide-large" id="smallMenu" style="display:none">
  <a class="bar-item app-notes" href="7011a000a7ac34feb1ed4415be49">Notes</a>
  <a class="bar-item app-users" href="7011a000da41216b169743cebf08">Users</a>
  <a class="bar-item" href="/ui/Apps/elefante">Caspio</a>
  <a class="bar-item" href="/folderlogout">Logout</a>
</div>