<style>
  .bar {
    overflow: hidden;
    width: 100%;
    background-color: #027FAA;
  }

  .bar-menu {
    float: left !important;
  }

  .bar-item {
    color: white !important;
    background-color: #027FAA;
    font-size: 24px !important;
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    cursor: pointer;
    text-align: center;
  }

  .bar-logo {
    float: right !important;
    height: 44px;
    width: 44px;
  }

  .bar-selected {
    color: #027FAA !important;
    background-color: white;
  }

  @media (min-width:767px) {
    .hide-large {
      display: none !important;
    }
  }

  @media (max-width:768px) {
    .hide-small {
      display: none !important;
    }
  }

  @media (max-width: 768px) {
    .bar-item {
      display: block;
      width: 100% !important;
    }
  }

  tr[data-cb-name="data"] .cbResultSetActionCell {
    display: none !important;
  }
</style>

<script>
  function toggleSidebar() {
    if (document.getElementById("smallMenu").style.display === "block") {
      document.getElementById("smallMenu").style.display = "none";
    } else {
      document.getElementById("smallMenu").style.display = "block";
    }
  }
  function selectTab(clazz) {
    setTimeout(function () {
      var links = document.getElementsByClassName(clazz);
      for (var i = 0; i < links.length; i++) {
        links[i].classList.add("bar-selected");
      }
    }, 1);
  }
</script>